<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>carousel模块快速使用</title>
  <script type="text/javascript" src="static/layui/layui.js"></script>
  <link rel="stylesheet" type="text/css" href="static/layui/css/layui.css" media="all">
</head>
<body>
        <div class="rollpic cl"> <a href="javascript:void(0)" class="prev"></a>
            <div class="rollpicshow">
              <ul>
                <li><img width="170" height="143" title="" src="temp/1.jpg"></li>
                <li><img width="170" height="143" title="" src="temp/2.jpg"></li>
                <li><img width="170" height="143" title="" src="temp/3.jpg"></li>
                <li><img width="170" height="143" title="" src="temp/4.jpg"></li>
                <li><img width="170" height="143" title="" src="temp/5.jpg"></li>
              </ul>
            </div>
            <a href="javascript:void(0)" class="next"></a>
          </div>
<!-- 条目中可以是任意内容，如：<img src=""> -->
 
<script src="/static/build/layui.js"></script>
<script>
layui.use('carousel', function(){
  var carousel = layui.carousel;
  //建造实例
  carousel.render({
    elem: '#test1'
    ,width: '50%' //设置容器宽度
    ,arrow: 'always' //始终显示箭头
    //,anim: 'updown' //切换动画方式
  });
});
</script>
</body>
</html>