<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <title>无为自然农园</title>
  <link rel="shortcut icon" href="static/img/web_logo.ico" type="image/x-icon" />
  <script type="text/javascript" src="static/layui/layui.js"></script>
  <script type="text/javascript" src="static/js/index.js"></script>
  <link rel="stylesheet" type="text/css" href="static/layui/css/layui.css">
  <link rel="stylesheet" type="text/css" href="static/css/index.css">
</head>

<body>
  <!-- index -->
<div class="index">
	<div class="container">
	  <div class="nav">
		<ul>
			<li><a href="">首页</a></li>
			<li><a href="#product">产品中心</a></li>
			<li><a href="#active">活动足迹</a></li>
			<li><a href="">关于我们</a></li>
		</ul>
	  </div>
	  <div class="search">
		  <form>
		  </form>
	  </div>
  </div>
  <div class="banner">
	  <p class="title">无为自然农园</p>
	  <p class="couplet">无为共建一片净土</p>
	  <p class="couplet">农园种出无量爱心</p>
  </div>
</div>
  <!-- product -->
<div class="bg-product" id="product">

</div>
<!-- active -->
<div class="bg-active" id="active">

</div>
</body>
</html>
